@use 'base/variables' as v;
@use 'base/mixins' as m;


.borrar,
.pendiente,
.terminada {

    background-color: v.$rojo;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 1rem;

}


#agregar-tarea {
    min-width: 60%;
    margin: 0 auto;
}

.botones-tarea {

    display: block;
@include m.tablet {
    display: flex;
    gap: 1rem;

}
}


.terminada {
    background-color: v.$verde;
}

.pendiente{
    background-color: v.$naranja;
}