@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 5rem;
    .uptask {

        @include m.degrade(rgb(255, 255, 255) , rgb(80, 245, 204) );
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(98, 98, 98);

    }
    .contenido-mensaje{

        text-align: center;
        background-color: rgb(255, 255, 255);
        padding: 3rem;
        border-radius: 10px;
        -webkit-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.54);
        box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.54);
        text-transform: uppercase;
        font-weight: bold;

        background: rgb(36, 34, 34);
        background: linear-gradient(0deg, rgb(36, 34, 34) 0%,  rgb(80, 245, 204) 100%);
        color: transparent;
        background-clip: text;
    }

    a{
        color: rgb(23, 161, 143);
    }
}